Chrome用のブックマークマネージャー拡張機能

# 機能要件
- 各ブックマークにタグ、説明をつけることができる
- 特別なタグとして、「シークレット」を用意する
- ブックマークをフォルダ単位、タグ単位で管理できる
- 各ブックマークの使用履歴や頻度、最終アクセスを記録し、ダッシュボードで確認できる
- ブックマークをタイトル、説明、タグで検索できる
- ブックマークをエクスポートできる（タグや説明も含む独自形式と、それらをオミットしたchrome標準形式の両方）
- ブックマークをインポートできる（独自形式と標準形式。標準形式の場合はタグや説明をオミットする）
- ショートカットキーからコマンドパレットを呼び出し、そこから検索し、ブックマークを開くことができる
- コマンドパレットから、あらかじめ設定したパスワードを入力することでシークレットのブックマークにアクセスできる
- シークレットタグが付いたブックマークは通常のフォルダなどには表示しない。ダッシュボードの表示にも含めない。
- ブックマークの削除、編集ができる

# UI
Chromeでウェブページを閲覧している状態で、右クリックやショートカットキーによってブックマーク登録画面を開く。
開いた際に、タイトルとURLはウェブページのそれを自動的に設定する。

## ブックマーク登録画面
- タイトル
- URL
- 説明
- タグ（複数選択可能。タグの入力欄は、入力中にタグ候補を表示するようにし、Enterで確定できるようにする）
- 保存

## ダッシュボード
各ブックマークの使用履歴や頻度、最終アクセスを一覧できる。
よく使うものトップ10をリストする



# データ
データはローカルで保存する

